:root {
  --red: #c93741;
  --dark-blue: #242a42;
  --light: #faecec;
  --light-grey: #fdfdfd;
  --grey: #8d8e94;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--dark-blue);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: aqua;
}
